/*   Font    */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

/*   Navigation Bar    */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {

    font-weight: lighter;
}

/* Container */

.container-fluid {
    padding: 3% 15%;
}

/*   Image    */
.title-image {
    width: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-image {
    width: 80%;
}

.showcase-image {
    width: 60%;
}



/* Pricing */
.pricing-column {
    padding: 2% 3%;
}


/* Carousel */

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel-inner {
    margin-top: 2%;
}


/* Section */
#title {
    background-color: #894e3f;
}

#Product {
    padding: 7% 15%;
    text-align: center;
}

#Pricing {
    padding: 25px 15%;
    text-align: center;
}

#CTA {
    padding: 7% 15%;
    text-align: center;
}

#Footer {
    text-align: center;
    padding: 3%;
    background-color: #894e3f;
}

/* Mobile CSS */
@media (max-width:767px) {
    #title {
        text-align: center;
    }

    h1 {
        font-size: 2rem;
    }

    #Product {
        padding: 7% 7%;
    }

    #Pricing {
        padding: 7% 7%;
    }

    .title-image {
        width: 0%;
    }

    .navbar-nav {
        text-align: right;
    }

    .nav-item {
        margin-bottom: 5%;
    }
}